executable = {{rfile}}
universe = vanilla
Requirements = ParallelSchedulingGroup == "stats group"
+AccountingGroup = "group_statistics_shortjob.yuliasidi"

should_transfer_files = YES
when_to_transfer_output = ON_EXIT

arguments = $(Process)
output    = out/fm-$(Process).Rout
error     = err/fm-$(Process).err
log       = log/fm.log

initialdir = jobs_old/run
transfer_input_files = ../myfiles/lib/, init.R, funs/dt.sim.x2.cont.R, funs/miss.impose.x2.cont.R, funs/FM.CI.R, funs/wald.ci.R, funs/wn.ci.R, funs/anal.miss.run.R, funs/mice.nonign.run.R, funs/nested.mi.comb.R, funs/miss.param.assign.x2.cont.R, funs/p.rmle.fm.R, funs/mice.impute.logreg.p.R, ss.bounds.rds
# transfer_output_files = 

Queue {{njobs}}
